<%-include('parts/header.ejs')%>
<br>
<br><br><br><br><br>

<div  class="container">
  <div class="row" >
    
    <div class="col">
      <img src="" alt="jfshdfj">
    </div>
    <div class="col">
      <h2 ></h2>
      <p><%= book.description %></p>
    </div>
  </div>
</div>

<%-include('parts/footer.ejs')%>